body {
    background-color: rgb(250, 189, 211);
  }
  .container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    /* border: 2px solid red; */
    font-family: arial;
    font-size: 16px;
    background-color: rgba(255, 229, 249, 0.726);
    border-radius: 20px;
  }
  h2 {
    text-align: center;
  }
  h1 {
    text-align: center;
    font-family: arial;
  }
  input {
    width: 250px;
    padding: 5px
  }
  button {
    width: 70px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    background-color: rgb(154, 179, 255);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
  }